@use '_layout.scss';
@import 'node_modules/sanitize.css/sanitize.css';
@import '_color.scss';
@import '_font.scss';
@import 'editor.scss';
@import 'form.scss';

html,
body {
  @include layout.hundred;
  padding: 0;
  margin: 0;
  background: $background;
  color: $color;
  font: $font;
}

pre,
code {
  font: $font-mono;
}

.root {
  @include layout.flex-center;
  @include layout.column;
  @include layout.hundred;
}

a {
  text-decoration: none;
  color: $primary;
  &:hover {
    color: $primary-hover;
  }
  &:active {
    color: $primary-active;
  }
}

.row {
  @include layout.row-center;
  &.buttons {
    .button + .button {
      margin-left: 8px;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999999;
  background: $background-dark;

  border: 2px solid $primary;
  border-right: 0;
  border-top: 0;
  border-bottom-left-radius: 10px;

  padding: 4px;

  user-select: none;

  .options.view {
    div {
      @include layout.flex;
      font: $font-mono;

      justify-content: space-between;

      & + div {
        margin-top: 3px;
      }

      .lhead {
        font-weight: 800;
        margin-right: 8px;
      }
    }
  }

  .brand {
    font: $font-mono;
    font-size: 1.25em;
    font-style: italic;

    margin: 0;
    padding: 0;

    sup {
      font-size: 0.5em;
      padding-left: 5px;
      vertical-align: super;
    }
  }
}
