<div class="root">
  <div>
    <h1><%= status %></h1>
    <pre><%= message %></pre>
    <div class="row buttons">
      <a href="/" class="button primary"> go home </a>
      <a href="#" onclick="location.reload()" class="button primary"> try again </a>
    </div>
  </div>
</div>
