<div class="root">
  <form method="post">
    <h1>login</h1>
    <div class="row">
      <input name="key" type="password" class="input inline" />
      <button name="submit" type="submit" class="button primary inline">login</button>
    </div>
  </div>
</div>
